.test-background {
    background: url("/static/images/background.png");
    width: 361px;
    height: 124px;
    position: relative;
}

.test-original-image {
    display: none;
    background: url("/static/images/actions.png");
    width: 361px;
    height: 124px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.test-time {
    font-family: sans-serif;
    z-index: 1;
    color: #fff;
    overflow: visible;
}

.test-element {
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.test-element.js-test-disabled {
    cursor: default;
}

.test-tornado {
    position: absolute;
    width: 56px;
    height: 54px;
    top: 60px;
    left: 268px;
}

.test-tornado-time {
    text-align: center;
    width: 56px;
    position: absolute;
    top: 19px;
}

.test-clock {
    position: absolute;
    width: 38px;
    height: 56px;
    top: 59px;
    left: 207px;
}

.test-clock-time {
    text-align: center;
    width: 42px;
    position: absolute;
    top: 25px;
}

.test-meat {
    position: absolute;
    width: 52px;
    height: 38px;
    top: 68px;
    left: 138px;
}

.test-meat-time {
    text-align: center;
    width: 52px;
    position: absolute;
    top: 11px;
}

.test-cup {
    width: 56px;
    height: 55px;
    position: absolute;
    top: 60px;
    left: 61px;
}

.test-cup-time {
    text-align: center;
    width: 56px;
    position: absolute;
    top: 23px;
}

.test-score-display{
    background: url("/static/images/score display.png");
    position: absolute;
    width: 66px;
    height: 39px;
    top: 11px;
    left: 33px;
}

.test-score-count {
    font-size: 22px;
    font-family: sans-serif;
    position: absolute;
    top: 4px;
    left: 6px;
    color: #fff;
    text-align: center;
    width: 66px;
}

.test-star{
    background: url("/static/images/star.png");
    position: absolute;
    width: 34px;
    height: 37px;
    top: 10px;
    left: 21px;
}